app = "reuse-flower"
primary_region = "iad"
kill_signal = "SIGINT"
kill_timeout = 5
[env]
  PORT = "3000"
[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
